<!DOCTYPE html>
<html lang="ko">
<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<meta http-equiv="X-UA-Compatible" content="ie=edge" />
	<title>Study Web Server</title>
	
	<!-- global style -->
	<link rel="stylesheet" type="text/css" href="/static/css/style.css">
	
	<!-- specific style -->
	<%- style %>
</head>
<body>
	<header class="header-container">
		<%- include('header') %>
	</header>
	
	<section class="section-container">
		<%- body %>
	</section>
	
	<footer class="footer-container">
		<%- include('footer') %>
	</footer>
	<%- script %>
</body>
</html>