<link rel="stylesheet" type="text/css" href="/static/css/board/style.css">
<link rel="stylesheet" type="text/css" href="/static/css/board/detail.css">


<h2 class="box-content">
	게시물
</h2>

<div class="board-container-content">
	<div class="board-detail-container-meta" >
		<h3 class="board-detail-post-title"> <%= post.title %> </h3>
		<p class="board-detail-post-regdt"> 작성시간 : <%= post.reg_dt %> </p>
		<div style="display:flex;">
			<p style="margin-right: 15px;"> 태그 : </p>
			<div class="board-container-tag board-detail-container-tag">
				<% post.tags.forEach((element, index) =>{ %>
				<div> 
					<%= element %>
				</div>
				<% }) %>
			</div>
		</div>
		<p class="board-detail-post-regid"> 작성자 : <%= post.reg_name %> </p>
	</div>
	<div class="board-content-post" >
		<p> <%= post.content %> </p>
	</div>

	<div class="board-detail-container-controller">
		<button onclick="location.href='/post'" class="btn">글 목록</button>
		<% if (isOwner) { %>
		<button onClick="location.href='/post/write?postId=<%= post._id %>'" class="btn">글 수정</button>
		<form action="/post/<%= post._id %>?_method=DELETE" method="POST">
			<button class="btn">글 삭제</button>
		</form>
		<% } %>
	</div>
</div>