<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta http-equiv="X-UA-Compatible" content="ie=edge" />
		<title>Study Web Server</title>
		<link rel="stylesheet" type="text/css" href="/static/css/style.css">
		<link rel="stylesheet" type="text/css" href="/static/css/board/style.css">
		<link rel="stylesheet" type="text/css" href="/static/css/board/detail.css">
	</head>
	<body>
		<div class="container">
			<h2 class="pageTitle">
				게시물
			</h2>

			
			<div class="board-container-content">
				<div class="board-detail-container-meta" >
					<h3 class="board-detail-post-title"> <%= post.title %> </h3>
					<p class="board-detail-post-regdt"> 작성시간 : <%= post.reg_dt %> </p>
					<div style="display:flex;">
						<p style="margin-right: 15px;"> 태그 : </p>
						<div class="board-container-tag board-detail-container-tag">
							<% post.tags.forEach((element, index) =>{ %>
							<div> 
								<%= element %>
							</div>
							<% }) %>
						</div>
					</div>
					<p class="board-detail-post-regid"> 작성자 : <%= post.reg_id %> </p>
				</div>
				<div class="board-content-post" >
					<p> <%= post.content %> </p>
				</div>

				<div class="board-detail-container-controller">
					<button onclick="location.href='/post'" class="btn">글 목록</button>
					<% if (isOwner) { %>
					<form action="/post/write?postId=<%= post._id %>&_method=patch" method="POST">
						<button class="btn">글 수정</button>
					</form>
					<form action="/post/<%= post._id %>?_method=DELETE" method="POST">
						<button class="btn">글 삭제</button>
					</form>
					<% } %>
				</div>
			</div>
			
		</div>
	</body>
</html>