<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta http-equiv="X-UA-Compatible" content="ie=edge" />
		<title>Study Web Server</title>
		<link rel="stylesheet" type="text/css" href="/static/css/style.css">
		<link rel="stylesheet" type="text/css" href="/static/css/board/style.css">
	</head>
	<body>
		<div class="container">
			<h2 class="pageTitle">
				게시물 목록
			</h2>
			<% if (errorMessages != ""){ %>
			<div class="container-error">
				<p><%= errorMessages %></p>
			</div>
			<% } %>
			
			<div>
				<button onclick="location.href='/post/add'" class="btn">글작성</button>
				<button onclick="location.href='/'" class="btn">홈페이지</button>
			</div>
			<ul class="container-postList">
				
			<% for(let i = 0; i < posts.length; i++){ %>
				<a href="/post/<%= posts[i]._id %>">
					<li class="container-post"> 
						<h3> Title: <%= posts[i].title %> </h3>
						<div class="container-meta" >
							<p> 작성시간 : <%= posts[i].reg_dt %> </p>
							<div class="container-tag">
								<p> 태그 : </p>
								<% posts[i].tag.forEach((el, index) =>{ %>
								<div> 
									<%= el %>
								</div>
								<% }) %>
							</div>
							<p> 작성자 : <%= posts[i].reg_id %> </p>
						</div>
						<div class="content-post" >
							<p> <%= posts[i].content %> </p>
						</div>
					</li>
				</a>
			<% } %>
				
			</ul>
			
		</div>
	</body>
</html>