<link rel="stylesheet" type="text/css" href="/static/css/board/style.css">
<link rel="stylesheet" type="text/css" href="/static/css/board/index.css">


<h2 class="box-content">
	게시물 목록
</h2>
<div class="container-content">
	<div>
		<div class="container-profile">
			<% if (isAuthenticated) { %>
				환영합니다. <%= currentUser.name %>님.
			<% } else { %>
			<button onClick="location.href='/user/login'" class="btn">
				로그인 하기
			</button>
			<% } %>
		</div>
	</div>
	<div>
		<% if (errorMessages != ""){ %>
		<div class="board-index-container-error">
			<p><%= errorMessages %></p>
		</div>
		<% } %>

		<ul class="board-container-content">
			<div style="margin-bottom: 10px;">
				<button onclick="location.href='/post/write'" class="btn">글작성</button>
				<button onclick="location.href='/'" class="btn">홈페이지</button>
				<form method="GET" style="display: inline-block;">
					<input name="title" placeholder="검색어를 입력하세요." />
					<button>
						검색
					</button>
				</form>
			</div>

		<% for(let i = 0; i < posts.length; i++){ %>
			<a href="/post/<%= posts[i]._id %>">
				<li class="board-index-container-post"> 
					<h3> Title: <%= posts[i].title %> </h3>
					<div class="board-index-container-meta" >
						<p> 작성시간 : <%= posts[i].reg_dt %> </p>
						<div class="board-container-tag">
							<p> 태그 : </p>
							<% posts[i].tags.forEach((el, index) =>{ %>
								<% if (index < 3) {%>
									<div> 
										<%= el %>
									</div>
								<% } %>
							<% }) %>
						</div>
						<p> 작성자 : <%= posts[i].reg_name %> </p>
					</div>
					<div class="board-content-post" >
						<p> <%= posts[i].content %> </p>
					</div>
				</li>
			</a>
		<% } %>
		</ul>
	</div>
</div>
