<link rel="stylesheet" type="text/css" href="/static/css/board/style.css">
<link rel="stylesheet" type="text/css" href="/static/css/board/write.css">


<h2 class="box-content">
	게시글 작성
</h2>

<form action="/post/<%= isEdit ? prevContent._id + '?_method=PATCH' : ''%>" class="container-form" method="POST">
	<table class="board-write-table">
		<tr>
			<td>
				제목
			</td>
			<td>
				<input type="text" name="title" class="board-write-input" placeholder="제목" value="<%= prevContent.title %>"/>
			</td>
		</tr>
		<tr>
			<td>
				작성자
			</td>
			<td>
				<input readonly type="text" name="reg_id" class="board-write-input" value="<%= currentUser.name%>"/>
			</td>
		</tr>
		<tr>
			<td>
				태그
			</td>
			<td>
				<% %>
				<input type="text" name="tags" class="board-write-input" placeholder="쉼표를 통해 구별합니다. (tag1, tag2, ...)"
					   value="<%= prevContent.tags %>"/>
			</td>
		</tr>
		<tr rowspan="5" style="vertical-align: top;">
			<td>
				내용
			</td>
			<td>
				<textarea name="content" rows="10" cols="40" placeholder="내용을 입력하세요."><%= prevContent.content %> </textarea>
			</td>
		</tr>
		<tr>
			<td colspan="2">
				<div style="display: flex; justify-content: space-between;">
					<% if (isEdit) {%>
					<button class="btn"> 수정 </button>
					<% } else {%>
					<button class="btn"> 제출 </button>
					<% } %>
					<button type="button" onClick="history.back()" class="btn"> 뒤로가기 </button>
				</div>
			</td>
		</tr>
	</table>
</form>